<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>Task Application</title>
    <meta name="Task Application" content="width=device-width, user-scalable=yes, initial-scale=1.0,
    maximum-scale=3.0, minimum-scale=1.0">
    <script src="https://kit.fontawesome.com/bf9133b871.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/index.css">
  </head>
  <body>
    <form class="form" action="login.html" method="post">
      <h1>Task Application</h1>
        <div class="container">
          <div class="input-container">
            <i class="fas fa-envelope icon"></i>
            <input type="text" placeholder="Email">
          </div>
          <div class="input-container">
            <i class="fas fa-unlock-alt icon"></i>
            <input type="password" placeholder="Password">
          </div>
          <input type="submit" value="Log in" class="button">
          <p>Don't have an account?<a class="link" href="index.html"> Register</a></p>
        </div>
    </form>
  </body>
</html>
