<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>User Tasks</title>
    <meta name="Task Application" content="width=device-width, user-scalable=yes, initial-scale=1.0,
    maximum-scale=3.0, minimum-scale=1.0">
    <script src="https://kit.fontawesome.com/bf9133b871.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/tasks.css">

    <!-- DATA TABLE -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

    <script type="text/javascript">
    $(document).ready(function() {
        $('#userTasks').DataTable();
    } );

</script>
  </head>
  <body>
    <div class="card">
      <div class="card-header">
          <h1>Tasks</h1>
      </div>
      <div class="card-body">
        <div class="table-responsive">
	         <table id="userTasks" class="table table-hover table-striped">
            <tbody>
              <tr th:each="task: ${tasksList}">
          			<td th:text="${task.description}></td>
              </tr>
	          </tbody>
         </table>
       </div>
      </div>
    </div>
  </body>
</html>