body {
  font-family: Arial;
  margin:0;
  background-color: #f2f2f2;
}

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: #132639;
  font-size: 35px;
}

tr{
  height: 150px;
  border-radius: 5px;
}

.card {
  background: #fff;
  padding: 5px;
}

@media(min-width:720px) {
  .card {
    margin: auto;
    width: 80%;
    margin-top: 60px;
    border-radius: 2%;
  }
}